doctype html
html(lang='en')
  head
    title Deckjam
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    meta(charset='utf-8')
    link(rel='stylesheet', href='angular-material.min.css')
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic")
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel='stylesheet', href='style.css')

  body(ng-app='deckjam' ng-controller='homeContainer' layout="column" layout-fill ng-cloak)
    md-toolbar(class="md-hue-1")
      .md-toolbar-tools
        h2( md-truncate) Deckjam
        form(ng-submit="getTerms(true)" layout="row" layout-align="center center" flex analytics-on="submit" analytics-event="Search")
          md-input-container.md-block(md-no-float flex)
            input(ng-model="search" ng-model-options="{debounce: 200}" type="search" placeholder="Smart Search" autofocus ng-submit="getTerms(true)")
          md-button.md-primary(ng-click="getTerms(true)" md-truncate analytics-on="click" analytics-event="Search") swap
          md-button(ng-click="getTerms(false)" md-truncate analytics-on="click" analytics-event="Search") add
          md-button.md-icon-button(ng-click="help=!help" ng-init="help=true")
            md-icon.material-icons help
      md-tabs.md-primary(md-stretch-tabs="auto" md-selected='data.selectedIndex')
        md-tab#decks(aria-controls='decks-content' analytics-on="click" analytics-event="DecksTab") Decks
        md-tab#selected(aria-controls='selected-content' analytics-on="click" analytics-event="SelectedTab") {{numSelected()}} Selected
    md-content(flex)
      ui-view(layout='column', layout-fill='', layout-padding='')
        .inset(hide-sm='')
        ng-switch.tabpanel-container(on='data.selectedIndex')
          #decks-content(role='tabpanel' aria-labelledby='decks' ng-switch-when='0')
            md-card(ng-show="help" flex)
              md-card-title
                md-card-title-text
                  span.md-headline Welcome to DeckJam
                    md-button(ng-click='help=!help')
                      md-tooltip Hide help
                      | Ok
              md-card-content
                p Deckjam is a flash card curation tool. Flashcards are proven to improve recognition and recall, yet creating flashcards can be tedious. With deckjam you can pick flashcards from other people public flashcards set on quizlet.com to make your own flashcard set. Once your set is complete you can upload it on quizlet.com.
                strong Search something in the smart search now to get started!
                p With deckjam, you can find flashcards that match your expression style. Each search provides relevant results allowing you to quickly build concise learning materials to prepare for tests and also engage in lifelong learning. Since cards are stored on quizlet, you can easily access them anywhere with rich mobile friendly apps and interactive games.
            //- md-card(flex)
            //-   md-card-content
            //-     strong {{numSelected()}} cards selected
            #results(ng-mousedown='md = true' ng-mouseup='md = false' ng-mouseleave='md = false')
              md-card.noselect(ng-repeat='(id, set) in decks' md-whiteframe="3")
                md-card-title
                  md-card-title-text
                    span.md-headline {{set.title}}
                      md-card-icon-actions
                        md-button.md-icon-button(ng-click='removeDeck(id)')
                          md-tooltip Remove Deck
                          md-icon.material-icons close
                        md-button.md-icon-button(ng-click='selectAll(id)')
                          md-tooltip Select All
                          md-icon.material-icons playlist_add_check
                md-card-content(style="margin-top:-15px")
                  table.table
                    thead
                      tr
                        th Terms
                        th Definitions
                    tbody
                      tr(ng-class='{success: !!term.selected}' ng-repeat='(id2, term) in set.terms' ng-mouseover='selectTerm(term, id, md)' ng-mousedown='selectTerm(term, id)')
                        td {{term.term}}
                        td
                          img(ng-if='term.image' draggable="false" ng-src='{{term.image.url}}')
                          | {{term.definition}}
          #selected-content(role='tabpanel', aria-labelledby='selected', ng-switch-when='1')
            md-card(ng-show="helpSelected" ng-init="helpSelected=true")
              md-card-title
                md-card-title-text
                  span.md-headline Your curated cards
                    md-button(ng-click='helpSelected=!helpSelected')
                      md-tooltip Hide help
                      | Ok
              md-card-content
                p Your cards are saved between searches and browser reloads. To clear your search results click
                  md-icon.material-icons(style="color: red") clear_all
                  | . You can easily import an quizlet set using the import button. Clicking editable allows you to edit flashcards. Once you are ready, create a deck by giving it a name. When your deck is ready, a button will take you to the quizlet deck. Then you can clone the deck into your account to customize it further on quizlet.com.
            md-card(md-whiteframe="3")
              md-card-actions(layout='row' layout-align="center center" ng-show="selected_actions=='home'" ng-init="selected_actions='home'")
                md-card-icon-actions
                  md-button.md-primary(ng-click="selected_actions='create'" analytics-on="click" analytics-event="Create") Create
                  md-button(ng-click="selected_actions='import'" analytics-on="click" analytics-event="Import") Import
                  md-switch(ng-model="selected_edit" ng-init="selected_edit = false" analytics-on="click" analytics-event="Editable") Editable
                md-input-container(layout='row')
                  label Sort By
                  md-select(ng-model="selectedOrder" placeholder="Sort by")
                    md-option(value="time") time
                    md-option(value="term") term
                md-button(ng-click="reverse=!reverse") Flip
                md-button.md-icon-button(ng-click='clearSelected()')
                  md-tooltip Clear Selected
                  md-icon.material-icons(style="color: red") clear_all
              md-card-actions.bump-lower(layout='row' layout-align="center center" ng-show="selected_actions=='create'")
                md-progress-linear(md-mode="indeterminate" ng-show="creating")
                md-button(class='md-icon-button' ng-click="selected_actions='home'")
                  md-tooltip Back
                  md-icon.material-icons chevron_left
                md-input-container.md-block(flex)
                  label Deck name
                  input(ng-model="title" type="text" autofocus required pattern=".{2,}" placeholder='My Deck')
                md-button.md-primary(ng-click='create(title)' ng-class="{disabled: !!creating}" analytics-on="click" analytics-event="Creating") {{creating? "Creating..." : "Create"}}
                md-button.md-primary(ng-show="url" ng-href="{{url}}" target="_blank" rel="noopener" analytics-on="click" analytics-event="CreatedDeck") Check out your deck!
              md-card-actions.bump-lower(layout='row' layout-align="center center" ng-show="selected_actions=='import'")
                md-button(class='md-icon-button' ng-click="selected_actions='home'")
                  md-tooltip Back
                  md-icon.material-icons chevron_left
                md-input-container.md-block(flex)
                  label Quizlet url or id
                  input(ng-model="importUrl" autofocus required placeholder='https://quizlet.com/75846167/learning-flash-cards/')
                md-button.md-primary(ng-click='import(importUrl)') Import
              md-card-content(style="margin-top:-10px")
                table.table
                  thead
                    tr
                      th
                        md-icon.material-icons more_horiz
                      th Terms
                      th Definitions
                  tbody
                    tr(ng-repeat='card in selectedArray() | orderBy:selectedOrder:reverse')
                      td(layout="column")
                        md-button.md-icon-button(ng-click='removeSelected(card.id)')
                          md-tooltip Remove
                          md-icon.material-icons(style="color: red") delete
                        md-button.md-icon-button(ng-click='swapSelected(card.id)')
                          md-tooltip Swap term and definition
                          md-icon.material-icons swap_horiz
                      td
                        md-input-container(style="width:100%" ng-if="selected_edit")
                          textarea(aria-label="term" type="text" ng-model="card.term" ng-minlength="1" style="width:100%")
                        span(ng-if="!selected_edit") {{card.term}}
                      td
                        img(ng-if='card.image' ng-src='{{card.image.url}}')
                        br(ng-if='card.image')
                        md-input-container(style="width:100%" ng-if="selected_edit")
                          textarea(aria-label="definition" ng-model="card.definition" ng-minlength="1" style="width:100%")
                        span(ng-if="!selected_edit") {{card.definition}}
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.9/angular.js')
    script(src='bloomfilter.js')
    // script(src="https://cdnjs.cloudflare.com/ajax/libs/pouchdb/6.0.7/pouchdb.js")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.1/angular-material.js')
    //- script(src='angular-material-icons.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.9/angular-aria.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.9/angular-messages.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.9/angular-animate.js')
    script(src='lodash.js')
    script(src='app.prod.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angulartics/1.3.0/angulartics.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angulartics-google-analytics/0.4.0/angulartics-ga.min.js')
    script.
      var user = window.localStorage.user || Math.random().toString(36).substring(7);
      window.localStorage.user = user;
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-88779254-1', 'auto');
      ga('set', 'userId', user);

