doctype html
html(lang='en')
  head
    title Deckjam
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    meta(charset='utf-8')
    link(rel='stylesheet', href='angular-material.min.css')
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic")
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel='stylesheet', href='style.css')

  body(ng-app='deckjam' ng-controller='homeContainer' layout="column" layout-fill ng-cloak)
    md-toolbar(class="md-hue-1")
      .md-toolbar-tools
        h2( md-truncate) Deckjam
        form(ng-submit="getTerms(true)" layout="row" layout-align="center center" flex)
          md-input-container.md-block(md-no-float flex)
            input(ng-model="search" ng-model-options="{debounce: 200}" type="search" placeholder="Smart Search" autofocus ng-submit="getTerms(true)")
          md-button.md-primary(ng-click="getTerms(true)" md-truncate) swap
          md-button(ng-click="getTerms(false)" md-truncate) add
          md-button(class='md-icon-button')
            md-icon.material-icons more_vert
      md-tabs.md-primary(md-stretch-tabs="auto" md-selected='data.selectedIndex')
        md-tab#decks(aria-controls='decks-content') Decks
        md-tab#selected(aria-controls='selected-content') Selected
    md-content(flex)
      ui-view(layout='column', layout-fill='', layout-padding='')
        .inset(hide-sm='')
        ng-switch.tabpanel-container(on='data.selectedIndex')
          #decks-content(role='tabpanel', aria-labelledby='decks', ng-switch-when='0')
            #results(ng-mousedown='md = true', ng-mouseup='md = false' ng-mouseleave='md = false')
              md-card.noselect(ng-repeat='(id, set) in decks' md-whiteframe="3")
                md-card-title
                  md-card-title-text
                    span.md-headline {{set.title}}
                      md-card-icon-actions
                        md-button.md-icon-button
                          md-tooltip Remove Deck
                          md-icon.material-icons(ng-click='removeDeck(id)') close
                        md-button.md-icon-button
                          md-tooltip Select All
                          md-icon.material-icons(ng-class='it.size', ng-click='selectAll(id)') playlist_add_check
                md-card-content(style="margin-top:-15px")
                  table.table
                    thead
                      tr
                        th Terms
                        th Definitions
                    tbody
                      tr(ng-class='{success: !!term.selected}', ng-repeat='(id2, term) in set.terms', ng-mouseover='selectTerm(term, id, md)', ng-mousedown='selectTerm(term, id)')
                        td {{term.term}}
                        td
                          img(ng-if='term.image' draggable="false" ng-src='{{term.image.url}}')
                          | {{term.definition}}
          #selected-content(role='tabpanel', aria-labelledby='selected', ng-switch-when='1')
            md-card(md-whiteframe="3")
              md-card-actions(layout='row' layout-align="center center" ng-show="selected_actions=='home'" ng-init="selected_actions='home'")
                md-card-icon-actions
                  md-button.md-primary(ng-click="selected_actions='create'") Create
                  md-button(ng-click="selected_actions='import'") Import
                  md-button(ng-click="selected_edit=!selected_edit" ng-init="selected_edit = false") Editable
                md-input-container(layout='row')
                  label Sort By
                  md-select(ng-model="selectedOrder" placeholder="Sort by")
                    md-option(value="time") time
                    md-option(value="term") term
                md-input-container(layout='row')
                  md-tooltip Reverse
                  md-button(ng-click="reverse=!reverse") Flip
                md-button.md-icon-button(ng-click='clearSelected()')
                  md-tooltip Clear Selected
                  md-icon.material-icons(style="color: red") clear_all
              md-card-actions(layout='row' layout-align="center center" ng-show="selected_actions=='create'")
                md-button(class='md-icon-button' ng-click="selected_actions='home'")
                  md-tooltip Back
                  md-icon.material-icons chevron_left
                md-input-container.md-block(flex)
                  label Deck name
                  input(ng-model="title" type="text" autofocus required pattern=".{2,}")
                md-button.md-primary(ng-click='create(title)' ng-class="{disabled: !!creating}") {{creating? "Creating..." : "Create"}}
                md-button.md-primary(ng-show="url" ng-href="{{url}}" target="_blank" rel="noopener") Check out your deck!
              md-card-actions(layout='row' layout-align="center center" ng-show="selected_actions=='import'")
                md-button(class='md-icon-button' ng-click="selected_actions='home'")
                  md-tooltip Back
                  md-icon.material-icons chevron_left
                md-input-container.md-block(flex)
                  label Quizlet url or id
                  input(ng-model="importUrl" autofocus required placeholder='https://quizlet.com/75846167/learning-flash-cards/')
                md-button.md-primary(ng-click='import(importUrl)') Import
              md-card-content(style="margin-top:-25px")
                table.table
                  thead
                    tr
                      th
                        md-icon.material-icons more_horiz
                      th Terms
                      th Definitions
                  tbody
                    tr(ng-repeat='card in selectedArray() | orderBy:selectedOrder:reverse')
                      td(layout="column")
                        md-icon.material-icons(style="color: red" ng-click='removeSelected(card.id)') delete
                        md-icon.material-icons(ng-click='swapSelected(card.id)') swap_horiz
                      td
                        md-input-container(style="width:100%" ng-if="selected_edit")
                          textarea(aria-label="term" type="text" ng-model="card.term" ng-minlength="1" style="width:100%")
                        span(ng-if="!selected_edit") {{card.term}}
                      td
                        img(ng-if='card.image', ng-src='{{card.image.url}}')
                        md-input-container(style="width:100%" ng-if="selected_edit")
                          textarea(aria-label="definition" ng-model="card.definition" ng-minlength="1" style="width:100%")
                        span(ng-if="!selected_edit") {{card.definition}}
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.9/angular.js')
    script(src='bloomfilter.js')
    // script(src="https://cdnjs.cloudflare.com/ajax/libs/pouchdb/6.0.7/pouchdb.js")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.1/angular-material.js')
    //- script(src='angular-material-icons.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.9/angular-aria.min.js')
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.9/angular-messages.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.9/angular-animate.js')
    script(src='lodash.js')
    script(src='app.prod.js')
